<div class="user-container">
<div>
<%=form_tag destroy_multiple_users_path, method: :delete do%>
<table id="user-table">
<tr>
<th></th>
<th >Id</th>
<th >Name</th>
<th >Occupation</th>
<th class='actions-header'>Actions</th>
</tr>
<tbody>
<% @users.each do |user| %>
<tr class='single-user-row'>
 <td><%= check_box_tag "user_ids[]", user.id %></td>
  <td><%=user.id%></td>
  <td><%=user.name%></td>
  <td><%=user.occupation%></td>
  <td class='icons-container'>
  <div>
  <%= link_to image_tag('user.png', height:20, width:20), user %>
  </div>
  <div>
  <%= link_to image_tag('edit.png', height:20, width:20), edit_user_path(user) %>
  </div>
  <div>
  <%= link_to image_tag('delete.png', height:20, width:20), "/users/confirm/#{user.id}" %>
  </div>
  </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<div class="links-container">
<div>
<%= link_to "New user", new_user_path %>
</div>
<div class="delete-button">
<%= submit_tag 'Delete selected'%>
</div>
</div>
<%end%>
<div>
<br>
</div>